<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upcoming Events - whoapp.ca</title>

    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/bootstrap.css' )}}">
    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/main.css' )}}">
</head>
<body>
    <section class="dashboard-section">
            <div class="full-screen">
                <div class="container-fluid">
                    <div class="row pb-2 pt-3">
                        <div class="col-lg-9">
                            <div class="d-inline-block">
                                <div class="card-content">
                                    <img src="{{ avatar }}" class="align-self-start round pfp-lg">
                                </div>
                            </div>
                            <div class="d-inline-block header full-height">
                                <h3>Welcome back, {{ username }}</h3>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <form method="post">
                                <input type="submit" src="{{ url_for('static', filename='assets/logout.png') }}" class="hidden-passthrough" name="submit" id="logout" value="Log out">
                            </form>
                            <div class="card-content align-items-center">
                                <a class="circle px-2" onclick="
                                        document.getElementById('logout').click();
                                    "><img src="{{ url_for('static', filename='assets/logout.png') }}" class="icon-lg btn-danger round" name="submit"></a>
                                <a href="calendar" class="circle px-2"><img src="{{ url_for('static', filename='assets/calendar.png') }}" class="icon-lg btn-light round"></a>
                                <!--<a><input type="image" src="{{ url_for('static', filename='assets/logout.png') }}" class="icon btn-light" name="submit" id="submit" value="Log out"></a>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="card-content">
                                <h4>Upcoming Events</h4>

                                <div class="col-lg-12">
                                    <div class="card btn-light round">
                                        <div class="card-content">
                                            <h5>CPSC 302</h5>
                                            <h6>Monday, Sept 7 15:00-17:00</h6>
                                            <span>add location tag</span>
                                            <p>lorem ipsum dolar set init this is supposed to look like a normal description</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card-content">
                                <h4>Who's free</h4>

                                <div class="col-lg-12">
                                    <!--card start-->
                                    <div class="card btn-light round mb-1">
                                        <div class="card-content">
                                            <div class="row">
                                                <div class="col-lg-12 align-items-center">
                                                    <img src="{{ url_for('static', filename='assets/pfp1.png') }}" class="d-inline-flex circle pfp">
                                                    <h5 class="d-inline-flex px-2">person 1</h5>
                                                    <a href="calendar" class="circle px-2"><img src="{{ url_for('static', filename='assets/chat.png') }}" class="icon btn-light round"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--card end-->
                                    <!--card start-->
                                    <div class="card btn-light round mb-1">
                                        <div class="card-content">
                                            <div class="row">
                                                <div class="col-lg-12 align-items-center">
                                                    <img src="{{ url_for('static', filename='assets/pfp2.png') }}" class="d-inline-flex circle pfp">
                                                    <h5 class="d-inline-flex px-2">person 2</h5>
                                                    <a href="calendar" class="circle px-2"><img src="{{ url_for('static', filename='assets/chat.png') }}" class="icon btn-light round"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--card end-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <a href="new" class="new-evt circle px-2"><img src="{{ url_for('static', filename='assets/add.png') }}" class="icon-lg btn-light round"></a>
</body>
</html>