<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>whoapp.ca</title>

    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/bootstrap.css' )}}">
    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/main.css' )}}">
</head>
<body>
    <section class="full-screen noauth-section">
            <div class="container-fluid">
                <div class="text-center round header full-height">
                    <div class="card-content">
                        <img class="login-img" src="{{ url_for( 'static', filename='assets/inhostudioslogo.png' ) }}">
                        <h2 class="pb-5">Get started with <span>whoapp.ca</span>!</h2>
                        <form method="post">
                            <div class="form-group">
                                <input type="submit" name="login" class="form-control form-control-lg btn-primary text-center" value="Login with Discord">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>